---
layout: page
title: Categories
permalink: /categories
---

<div class="taxonomy-archive">
  <div class="taxonomy-archive-toc">
    {% for tag in site.categories %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  <hr/>
  <div class="taxonomy-archive-list">
    {% for tag in site.categories %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul class="posts">
      {% for post in tag[1] %}
      <li>
        {% include post/post-list-item.html %}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
