<footer id="footer" role="contentinfo">
  <nav class="footer" aria-label="main navigation">
    {% include navigation.html %}
  </nav>
  <nav class="social" aria-label="social links">
    {% include social.html %}
  </nav>
  {% comment %}
  <div class="copyright">
  <small>&copy; 2004 - {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</small>
  <small><a href="{{ site.github.repository_url }}" title="GitHub repository: {{ site.github.repository_name }}">v{{ site.version }}</a></small>
  </div>
  {% endcomment %}
</footer>

{% if site.disqus.enabled and site.disqus.show_comment_counts %}
<script id="dsq-count-scr" src="//{{ site.disqus.shortname }}.disqus.com/count.js" async></script>
{% endif %}
