/* WCAG AA compliant monokai.css from mpchadwick/pygments-high-contrast-stylesheets */
:root {
  --syntax-default-bg: #272822;
  --syntax-default-color: #f8f8f2;
  --syntax-err-bg: #1e0010;
  --syntax-err-color: #ff3ca7;
  --syntax-highlight-bg: #49483e;
  --syntax-comment-color: #949076;
  --syntax-literal-color: #ae81ff;
  --syntax-string-color: #e6db74;
  --syntax-keyword-color: #66d9ef;
  --syntax-operator-color: #f94e8a;
  --syntax-function-color: #a6e22e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --syntax-default-bg: #252727;
    --syntax-default-color: #bababa;
    --syntax-err-color: #e49ac2;
    --syntax-highlight-bg: #48483d;
    --syntax-comment-color: #938f76;
    --syntax-literal-color: #a282de;
    --syntax-string-color: #b6ac54;
    --syntax-keyword-color: #4a9fb0;
    --syntax-operator-color: #d17595;
    --syntax-function-color: #7c9744;
  }
}

.highlight .hll { background-color: var(--syntax-highlight-bg) }
.highlight  { background: var(--syntax-default-bg); color: var(--syntax-default-color) }
.highlight .c { color: var(--syntax-comment-color) } /* Comment */
.highlight .err { color: var(--syntax-err-color); background-color: var(--syntax-err-bg) } /* Error */
.highlight .k { color: var(--syntax-keyword-color) } /* Keyword */
.highlight .l { color: var(--syntax-literal-color) } /* Literal */
.highlight .n { color: var(--syntax-default-color) } /* Name */
.highlight .o { color: var(--syntax-operator-color) } /* Operator */
.highlight .p { color: var(--syntax-default-color) } /* Punctuation */
.highlight .ch { color: var(--syntax-comment-color) } /* Comment.Hashbang */
.highlight .cm { color: var(--syntax-comment-color) } /* Comment.Multiline */
.highlight .cp { color: var(--syntax-comment-color) } /* Comment.Preproc */
.highlight .cpf { color: var(--syntax-comment-color) } /* Comment.PreprocFile */
.highlight .c1 { color: var(--syntax-comment-color) } /* Comment.Single */
.highlight .cs { color: var(--syntax-comment-color) } /* Comment.Special */
.highlight .gd { color: var(--syntax-operator-color) } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: var(--syntax-function-color) } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: var(--syntax-comment-color) } /* Generic.Subheading */
.highlight .kc { color: var(--syntax-keyword-color) } /* Keyword.Constant */
.highlight .kd { color: var(--syntax-keyword-color) } /* Keyword.Declaration */
.highlight .kn { color: var(--syntax-operator-color) } /* Keyword.Namespace */
.highlight .kp { color: var(--syntax-keyword-color) } /* Keyword.Pseudo */
.highlight .kr { color: var(--syntax-keyword-color) } /* Keyword.Reserved */
.highlight .kt { color: var(--syntax-keyword-color) } /* Keyword.Type */
.highlight .ld { color: var(--syntax-string-color) } /* Literal.Date */
.highlight .m { color: var(--syntax-literal-color) } /* Literal.Number */
.highlight .s { color: var(--syntax-string-color) } /* Literal.String */
.highlight .na { color: var(--syntax-function-color) } /* Name.Attribute */
.highlight .nb { color: var(--syntax-default-color) } /* Name.Builtin */
.highlight .nc { color: var(--syntax-function-color) } /* Name.Class */
.highlight .no { color: var(--syntax-keyword-color) } /* Name.Constant */
.highlight .nd { color: var(--syntax-function-color) } /* Name.Decorator */
.highlight .ni { color: var(--syntax-default-color) } /* Name.Entity */
.highlight .ne { color: var(--syntax-function-color) } /* Name.Exception */
.highlight .nf { color: var(--syntax-function-color) } /* Name.Function */
.highlight .nl { color: var(--syntax-default-color) } /* Name.Label */
.highlight .nn { color: var(--syntax-default-color) } /* Name.Namespace */
.highlight .nx { color: var(--syntax-function-color) } /* Name.Other */
.highlight .py { color: var(--syntax-default-color) } /* Name.Property */
.highlight .nt { color: var(--syntax-operator-color) } /* Name.Tag */
.highlight .nv { color: var(--syntax-default-color) } /* Name.Variable */
.highlight .ow { color: var(--syntax-operator-color) } /* Operator.Word */
.highlight .w { color: var(--syntax-default-color) } /* Text.Whitespace */
.highlight .mb { color: var(--syntax-literal-color) } /* Literal.Number.Bin */
.highlight .mf { color: var(--syntax-literal-color) } /* Literal.Number.Float */
.highlight .mh { color: var(--syntax-literal-color) } /* Literal.Number.Hex */
.highlight .mi { color: var(--syntax-literal-color) } /* Literal.Number.Integer */
.highlight .mo { color: var(--syntax-literal-color) } /* Literal.Number.Oct */
.highlight .sa { color: var(--syntax-string-color) } /* Literal.String.Affix */
.highlight .sb { color: var(--syntax-string-color) } /* Literal.String.Backtick */
.highlight .sc { color: var(--syntax-string-color) } /* Literal.String.Char */
.highlight .dl { color: var(--syntax-string-color) } /* Literal.String.Delimiter */
.highlight .sd { color: var(--syntax-string-color) } /* Literal.String.Doc */
.highlight .s2 { color: var(--syntax-string-color) } /* Literal.String.Double */
.highlight .se { color: var(--syntax-literal-color) } /* Literal.String.Escape */
.highlight .sh { color: var(--syntax-string-color) } /* Literal.String.Heredoc */
.highlight .si { color: var(--syntax-string-color) } /* Literal.String.Interpol */
.highlight .sx { color: var(--syntax-string-color) } /* Literal.String.Other */
.highlight .sr { color: var(--syntax-string-color) } /* Literal.String.Regex */
.highlight .s1 { color: var(--syntax-string-color) } /* Literal.String.Single */
.highlight .ss { color: var(--syntax-string-color) } /* Literal.String.Symbol */
.highlight .bp { color: var(--syntax-default-color) } /* Name.Builtin.Pseudo */
.highlight .fm { color: var(--syntax-function-color) } /* Name.Function.Magic */
.highlight .vc { color: var(--syntax-default-color) } /* Name.Variable.Class */
.highlight .vg { color: var(--syntax-default-color) } /* Name.Variable.Global */
.highlight .vi { color: var(--syntax-default-color) } /* Name.Variable.Instance */
.highlight .vm { color: var(--syntax-default-color) } /* Name.Variable.Magic */
.highlight .il { color: var(--syntax-literal-color) } /* Literal.Number.Integer.Long */

/* Custom additions */

.css .o,  /* Operator */
.css .o + .nt,  /* Operator + Name.Tag */
.css .nt + .nt { color: #999 } /* Name.Tag + Name.Tag */

.highlight .vglnk { color: var(--syntax-keyword-color) } /* Name Variable Global Link */
