<img src="{{ site.author.image }}" alt="Picture of {{ site.author.name }}"/>
<div style="overflow: hidden">
  <p>James is a software developer with interests in travel, photography, technical strategy, devops &amp; automation, and building complex, performant, accessible websites.  He is a senior technical strategist and the lead frontend developer at Bluespark. <a href="/about"><span class="visually-hidden">Read the full biography</span><span aria-hidden="true"> &raquo; Full bio</span></a></p>
</div>
