<article class="post-teaser">
  <h1 class="post-title">
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </h1>
  <p><small>
    {% assign current_year = site.time | date: '%Y' %}
    {% assign post_year = post.date | date: '%Y' %}
    {% if current_year == post_year %}
    {% assign format = '%b %-d' %}
    {% else %}
    {% assign format = '%b %-d %Y' %}
    {% endif %}
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: format }}</time>
    &middot;
    {% assign words = post.content | strip_html | number_of_words %}
    <span title="{{ words }} words">
      {% assign minutes = words | divided_by: site.words_per_minute | ceil %}
      {{ minutes }} min read
    </span>
  </small></p>
  {{ post.excerpt }}
</article>
