<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}" class="preload">
{% include head.html %}
<body>
  <nav id="skipnav" aria-label="skip links">
    <a href="#content">Skip to Content</a>
    <a href="#nav-main">Skip to Main Navigation</a>
    <hr>
  </nav>
  <header id="header" role="banner">
    <div class="card">
      <a class="logo" href="/" title="Home">
        {% include assets/logo.svg %}
      </a>
      <div>
        <div class="name">{{ site.title }}</div>
        <div class="tagline">{{ site.tagline }}</div>
      </div>
    </div>
    <nav class="menu" id="nav-main" aria-label="main navigation">
      {% include navigation.html %}
    </nav>
  </header>
  <main role="main" id="content">
    {{ content }}
  </main>
  {% include colophon.html %}
  {% include footer.html %}
</body>
</html>
