<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
{% include head.html %}
<body>
  <header id="header" role="banner">
    <div class="card">
      <a class="logo" href="/" title="Home">
        {% include assets/logo.svg %}
      </a>
      <div>
        <div class="name">{{ site.title }}</div>
        <div class="tagline">{{ site.tagline }}</div>
      </div>
    </div>
    <nav class="menu">
      {% include navigation.html %}
    </nav>
  </header>
  <main role="main">
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>
