---
layout: default
---

<article class="post" role="article">
  <header>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <footer>
    {% assign post = page %}
    {% include post/post-meta.html categories=true tags=true %}
  </footer>

  {{ content }}

  <aside class="post-author">
    {% include post/post-author.html %}
  </aside>
</article>

<section class="share">
  {% include page/share.html %}
</section>

<section class="prevnext">
  {% include page/prevnext.html type="Post" %}
</section>

<section class="comments">
  {% include page/comments.html %}
</section>

<aside class="related">
  {% include page/related.html %}
</aside>
